doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=1920")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="author" content="René Panzar")
    link(href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic|PT+Mono|Fira+Code" rel="stylesheet")
    title #{title}
    style(type='text/css') !{css}

  body(class=`primary-${primary} secondary-${secondary} shape-${shape}`)
    div(id='impress' data-max-scale='2' data-width='1920' data-height='1080' data-transition-duration=transitionDuration) !{marked}
    script(type='text/javascript') !{js}
    script(type='text/javascript').
      impress().init();
